@import url('https://fonts.googleapis.com/css?family=Catamaran:700');
@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39|Merriweather');
@import "animations.css";


/*fade in animation*/


body {
  background-color: #009FFD;

}

/*navbar code here*/
.navbar{
    overflow: hidden;
    background-color: #FFF6E7;
    font-family: Catamaran;
    border-radius: 10px;
}

.navbar a{
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

/*dropdown code here*/
/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  background-image: linear-gradient(to-right, #FFF6E7 0%, #81968F 50%);
}


.navbar a:hover, .dropdown:hover .dropbtn {
  animation-name: gradient-swoop;
  animation-duration: 1s;
  animation-fill-mode: both;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
/*END DROPDOWN CODE*/

.media-video {
    opacity:0.75;
    margin-left: 5%;
    margin-right: 5%;
}

.column2 {
    float: left;
    width: 50%;
}



.column3 {
    float: left;
    width: 33.3%;
}
.column4{
    float:left;
    width: 25%;
    margin-left: 25%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}



.header {
    font-family: Catamaran, sans-serif;
    font-size:1.5em;
    text-align: center;
}

.header-left {
    font-family: Catamaran, sans-serif;
    font-size:2.3em;
    text-align: left;

}

.fadeIn{
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}


.num_radio {
    padding-bottom: 25px;
    font-size: 250%;
}

.body-paragraph {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10px;
    padding: 2px 10px 2px 10px;
    border-radius: 15px;
    background-color: #FFF6E7;
    font-family: Merriweather;
    text-align: justify;
    font-size: 2em;
}

div#getter {
    font-size: 80px;
    line-height: 6px;
    letter-spacing: 25px;
    font-family: 'Catamaran', sans-serif;
    text-align: center;
}

#copyright {
    text-align: center;
    font-size: 8px;
}
