@import url('https://fonts.googleapis.com/css?family=Catamaran:700');

body {
  background-color: linear-gradient(to left, green, pink);
}

div#header {
  padding-top: 30px;
  height: 35%;
  line-height: 5px;
  text-align: center;
  font-family: 'Catamaran', sans-serif;
  font-size: 72px;
  background-color: #7bd2ed;
}
div#quote-body {
    text-align: center;
}
