@import url('https://fonts.googleapis.com/css?family=Catamaran:700');

body {
  background-color: #f200ff;
  background-image: image(bg_stars.gif);
  background-position: top-left;
  background-repeat: repeat;

}

div#header {
  padding-top: 30px;
  height: 80%;
  line-height: 35px;
  text-align: center;
  font-family: 'Catamaran', sans-serif;
  font-size: 400%;
  background-color: #7bd2ed;
}
div#getter {
  font-size: 80px;
  line-height: 6px;
  letter-spacing: 25px;
    font-family: 'Catamaran', sans-serif;
    text-align: center;
}
