---
---
@import "tactile";
$altColor: #db42cc;
$altHover: #d46cc9;

$darkModeColor: #282828;
$lightModeColor: #fbf1c7;
$lightHover: #d9d0a9;
$darkHover: #3b3b3b;
$lightSubmit: #b3ab8b;
$darkSubmit: #595959;
// filters that will achieve $darkModeColor and $lightModeColor for the background since it is an image and not a solid color
// made using https://codepen.io/sosuke/pen/Pjoqqp
// darkModeColor: invert(18%) sepia(0%) saturate(70%) hue-rotate(259deg) brightness(100%) contrast(106%);
// lightModeColor: invert(95%) sepia(9%) saturate(961%) hue-rotate(340deg) brightness(103%) contrast(97%);

button {
    border: 4;
    color: $darkModeColor;
    background-color: $lightModeColor;
    border-color: $darkModeColor;
    justify-content: right;

}

button:hover {
    background-color: $lightHover;
}

button:active {
    background-color: $lightSubmit;
}

header h2 {
    color: $altColor;
}

a {
    color: $altColor;
}

a:hover {
    color: $altHover;
}

div.front-page-showcase > img {
    border: 1px solid black;
    transition: border 0.5s ease-in-out;
}

div.front-page-showcase:hover > img {
    border: 5px solid black;
}

div.front-page-showcase > a > p {
    position: relative;
    bottom: 60px;
    font-size: 36px;
    color: white;
    background-color: black;
    width: 50%;
    padding-left: 5px;
    padding-right: 5px; 
    transition: width 0.5s ease-in-out;
}

div.front-page-showcase:hover > a > p {
    width: 95%;
}

/*! div style */
.image-gallery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
    justify-content: center;
    padding: 4px;
    gap: 0px 50px;
}

.box {
      flex-basis: 25%;
      width: 100%;
      padding: 10px;
      margin: 5px;
}

.img-gallery {
	width: 100%;
    height: 200px;
	object-fit: cover;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
    &:hover {
        transform: scale(1.05);
    }
}

.inner {
    width: 800px;
}
